backtrader>=1.9.76.123
ccxt>=1.42.57
click>=7.1.2
comtypes>=1.1.8
cryptography>=3.4.6
Flask>=1.1.2
greenlet>=1.0.0
h5py>=3.2.1
jqdatasdk>=1.8.7
mongoengine>=0.22.1
mpl-finance>=0.10.1
mplfinance>=0.12.7a5
numba>=0.52.0
numpy>=1.20.1
pandas>=1.2.3
plotly>=4.14.3
prettytable>=2.0.0
protobuf>=3.5.1
pymongo>=3.11.3
pytdx>=1.72
PyYAML>=5.4.1
quantaxis>=1.10.18
redis>=3.5.3
rqalpha>=3.0.10
rqdatac>=2.9.24
rqrisk>=0.0.16
simplejson>=3.17.0
six>=1.13.0
statsmodels>=0.12.2
tornado>=6.1
tqdm>=4.57.0
tqsdk>=2.3.3
tushare>=1.2.62
Werkzeug>=1.0.1
yarl>=1.1.0
